name: lint-test

on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.10
      uses: actions/setup-python@v2
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pylint flake8
    - name: Analysing the code with pylint
      run: |
        pylint app test
    - name: Analysing the code with flake8
      run: |
        flake8 --count --show-source --max-complexity=10 --statistics
    
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.10
      uses: actions/setup-python@v2
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install coverage
    - name: Test with unittest
      run: |
        coverage run
        coverage html
        coverage report
    - name: Archive coverage artifacts
      uses: actions/upload-artifact@v2
      with:
        name: code-coverage-report
        path: reports/coverage/html